body {
}

.center{
    text-align:center;
}

.homeIntro{
    font-size:larger;
    margin:30px;
    width:100%
}

.red{
    background-color:red;
}

.mjsatext{
    border: solid 1px #c9c9c9 !important;
}

.mjsadate{
    border: solid 1px #c9c9c9 !important;
}
