<ion-view view-title="employee">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
              {{employee.FirstName}} {{employee.LastName}}
          </div>

          <a href="tel:{{employee.PhoneNumber}}" class="item item-icon-left">
              <i class="icon ion-ios-telephone"></i>
              {{employee.PhoneNumber}}
          </a>
          <a href="mailto:{{employee.EmailAddress}}" class="item item-icon-left">
              <i class="icon ion-ios-email"></i>
              {{employee.EmailAddress}}
          </a>

          <div class="item item-divider">
          </div>
      </div>  </ion-content>
</ion-view>
