<ion-view view-title="MobileJSA">
    <ion-content>

    <div class="row center">
        <div class="homeIntro">
            MobileJSA provides on-the-go JSAs, Safety Meetings, PPEs, and more.
        </div>
    </div>
        <div class="row center">
            <div class="homeIntro">
                To begin, login.
                IsLoggedIn: {{isLoggedIn()}}
            </div>
        </div>
    <div class="row center">
        <div class="homeIntro">
            <button class="button button-block button-positive" ng-click="showLogin()">Login</button>
        </div>
    </div>

          <!--<ion-list>
          <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            {{playlist.title}}
          </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>
